@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação";
}

<div class="bg-gradient">
<h1>@ViewData["Title"]</h1>
<p>
    Mudanças de dados temporariamente indisponível.
</p>
</div>
