<br>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Fale Conosco</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="form-group row d-flex justify-content-center align-content-center">
    <div class="col-md-offset-2 col-md-2">
        <input type="submit" value="Enviar" class="btn btn-primary" />
    </div>
</div>
<address>
    <strong> Avenida da Abolição, 3 - centro</strong> <br />
    <strong> Cep:62.790-000-Rendeção-CE-Brasil</strong><br />
   <strong> Tel:+55(85)3332-1414</strong>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Suporte.cavaleirosdossonhos@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing.cavaleirosdossonhos@gmail.com</a>
</address>