<br />
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card text-center">
            <img src="~/Imagens/curso (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Português</h5>
                <p class="card-text">O aluno pode assistir a aulas com todos os recursos sem sair de casa,é também será acompanhado pelo consultor e pelo departamento educacional.</p>
                <a href="#" class="btn btn-primary">Começar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img src="~/Imagens/curso (1).png"  class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Inglês</h5>
                <p class="card-text">
                <p class="card-text">O aluno pode assistir a aulas com todos os recursos sem sair de casa,é também será acompanhado pelo consultor e pelo departamento educacional.</p>
                <a href="#" class="btn btn-primary">Começar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img src="~/Imagens/curso (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Espanhol</h5>
                <p class="card-text">O aluno pode assistir a aulas com todos os recursos sem sair de casa,é também será acompanhado pelo consultor e pelo departamento educacional.</p>
                <a href="#" class="btn btn-primary">Começar</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
            <img src="~/Imagens/curso (1).png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Curso de Chinês</h5>
                <p class="card-text">O aluno pode assistir a aulas com todos os recursos sem sair de casa,é também será acompanhado pelo consultor e pelo departamento educacional.</p>
                <a href="#" class="btn btn-primary">Começar</a>
            </div>
        </div>
    </div>
</div>
