


@if (TempData["Mensagem"] != null)
{
    <script>alert(" @TempData["Mensagem"]");</script>
}
<br>

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-4 text-white animated slideInLeft">Cavaleiros<br>Dos Sonhos</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Bem-vindo(a) à Plataforma Cavaleiros dos Sonhos. Aqui, você pode descobrir uma oportunidade de, como empresa da iniciativa privada, abrir as portas para pessoas refugiadas e redescobrir crescimento, inovação e diversidade no ambiente de trabalho. crescente interlocução de empresas com refugiados demonstra, cada vez mais, que essas pessoas trazem consigo muito mais do que suas qualificações: seus sonhos e esperança de reconstruírem suas vidas revelam o melhor de suas ambições, criatividade e determinação.</p>
                <a href="@Url.Action("Cadastrar", "Autenticacao")" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Junte-se a nós</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="~/Imagens/refugiados2.jpg" alt="">
            </div>
        </div>
    </div>
</div>