
<header><h1>Carvaleiros dos Sonhos</h1></header>
<br />
<p>
    Bem-vindo(a) à Plataforma Cavaleiros dos Sonhos. Aqui, você pode descobrir uma oportunidade de, como empresa da iniciativa privada, abrir as portas para pessoas refugiadas e redescobrir crescimento, inovação e diversidade no ambiente de trabalho.
    crescente interlocução de empresas com refugiados demonstra, cada vez mais, que essas pessoas trazem consigo muito mais do que suas qualificações: seus sonhos e esperança de reconstruírem suas vidas revelam o melhor de suas ambições, criatividade e determinação.
</p>
<p>

    CAVALEIROS DOS SONHOS
    Bem-vindo(a) à Plataforma Cavaleiros dos Sonhos. Aqui, você pode descobrir uma oportunidade de, como empresa da iniciativa privada, abrir as portas para pessoas refugiadas e redescobrir crescimento, inovação e diversidade no ambiente de trabalho.

    Nos mais diversos setores, a crescente interlocução de empresas com refugiados demonstra, cada vez mais, que essas pessoas trazem consigo muito mais do que suas qualificações: seus sonhos e esperança de reconstruírem suas vidas revelam o melhor de suas ambições, criatividade e determinação.



    A iniciativa surge da intersecção do trabalho da Agência da ONU para Refugiados (ACNUR) e do Pacto Global da ONU, tendo em vista a promoção dos Direitos Humanos por meio do desenvolvimento sustentável nas práticas corporativas e empresariais.

</p>
<p>

    O que fazemos?

    Neste contexto, a Plataforma Empresas com Refugiados tem por objetivo estruturar modalidades de apoio às iniciativas privadas de capacitação profissional de refugiados, levando em consideração as necessidades de empregabilidade dessa população, os interesses do setor privado em contribuir para a integração e o acúmulo de experiências adquiridas através de projetos específicos em quatro diferentes áreas:



    - Promoção da empregabilidade;

    - Apoio ao empreendedorismo;

    - Incentivo a meios de conhecimento e educação;

    - Realização de iniciativas de sensibilização e engajamento.

</p>
