@{
    ViewData["Title"] = "Anjos";
}

<main>
    <section style="padding: 10px;">
        <h3>Esta área é onde anjos poderão criar e atender dádivas.</h3>
        <p>Caso tenha dúvidas sobre algum assunto relacionado, entre em contato conosco através do nosso email: squad21github@gmail.com</p>
    </section>

    <section style="width: 40%;">
        <h2 style="display: inline;"><a style="display: flex; width: 100%; justify-content: center;" asp-controller="CriarDadivas" asp-action="Index">Criar Dádiva</a></h2>
    </section>

    <section style="width: 40%;" >
        <h2 style="display: inline;"><a style="display: flex; width: 100%; justify-content: center;" asp-controller="AtenderDadivas" asp-action="Index">Atender Dádiva</a></h2>
    </section>
</main>