<main>
    <section style="width: 40%;">
        <h2 style="display: inline;"><a style="display: flex; width: 100%; justify-content: center;" asp-controller="CriarDadivas" asp-action="Index">Criar Dádiva</a></h2>
    </section>
    
    <section style="width: 40%;" >
        <h2 style="display: inline;"><a style="display: flex; width: 100%; justify-content: center;" asp-controller="AtenderDadivas" asp-action="Index">Atender Dádiva</a></h2>
    </section>
</main>