<main>
    <section>
        <h2><a asp-controller="CriarDadivas" asp-action="Index">Criar Dádiva</a></h2>
    </section>
    <section>
        <h2><a asp-controller="AtenderDadivas" asp-action="Index">Atender Dádiva</a></h2>
    </section>
</main>