@{
    ViewData["Title"] = "Ongs";
}

<main>
    <section style="padding: 10px;" class="section">
        <h3>Esta área é onde você poderá avaliar o nosso site.</h3>
        <p>Entre no link abaixo para comentar</p>
        <li><a class="linksfontesz" asp-controller="Avaliacaos" asp-action="Index">Página de avaliações</a></li>
    </section>
</main>
