
<section>
    <fieldset class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label class="control-label">Nome:</label>
                    <input type="text" class="form-control"/>
                </div>
                <br/>
                <div class="form-group">
                    <label class="control-label">email:</label>
                    <br/>
                    <input class="form-control" type="email"/>
                </div>
                <br/>
                <div>
                    <input type="submit" class="btn btn-primary" value="Entrar"/>
                </div>
            </form>
        </div>
    </fieldset>
</section>