
<main>
    <section>
        <h2><a asp-controller="SolicitarDadivas" asp-action="Index">Solicitar Dádiva</a></h2>
    </section>
    <section>
        <h2><a asp-controller="EscolherDadivas" asp-action="Index">Escolher Dádiva</a></h2>
    </section>
</main>