
<main>
    <section style="width: 40%;">
        <h2 style="display: inline;"><a asp-controller="SolicitarDadivas" asp-action="Index" style="display: flex; width: 100%; justify-content: center;">Solicitar Dádiva</a></h2>
    </section>
    <section style="width: 40%;">
        <h2 style="display: inline;"><a asp-controller="EscolherDadivas" asp-action="Index" style="display: flex; width: 100%; justify-content: center;">Escolher Dádiva</a></h2>
    </section>
</main>