@{
    ViewData["Title"] = "Ongs";
}


<main>
    <section style="padding: 10px;" class="section">
        <h3>Esta área é onde as ongs poderão solicitar e escolher dádivas.</h3>
        <p>Caso tenha dúvidas sobre algum assunto relacionado, entre em contato conosco através do nosso email: squad21github@gmail.com</p>
    </section>
    <section style="width: 40%; display: flex; justify-content: center;" class="section">
        <h2 style="display: flex;"><a asp-controller="SolicitarDadivas" asp-action="Index" class="linksfontesz">Solicitar Dádiva</a></h2>
    </section>
    <section style="width: 40%; display: flex; justify-content: center;" class="section">
        <h2 style="display: flex;"><a asp-controller="EscolherDadivas" asp-action="Index" class="linksfontesz">Escolher Dádiva</a></h2>
    </section>
</main>