@{
    ViewData["Title"] = "Sobre";
}

<header style="margin-top: 30px;">

    <div style="font-family: Arial;">
        <h1>@ViewData["Title"]</h1>
        <p>Coloque aqui o texto da página sobre.</p>
    </div>

</header>
